<div id="resultspage" class="page">
    <button id="backButton">← Back</button>
    <h2 style="font-size: 30px; color: #578E7E; text-align: center;">Search Results</h2>
    <div id="results" class="resultscontainer"></div>
</div>
