<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h2>Sign Up</h2>
    <form action="/auth/signup" method="POST">
      <input name="username" placeholder="Name" required>
      <input name="email" type="email" placeholder="Email" required>
      <input name="password" type="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>
    </form>
    <a href="/auth/google">Sign up with Google</a>
    <a href="/login">Already have an account? Login</a>
  </div>
</body>
</html>